<div id="header">Simple Airbnb</div>
<div id="container">
  <h1>All our Flats</h1>
  <h2>All (<%= @flats.count %>) flats</h2>
  <% @flats.each do |flat| %>
  <div class="card">
    <img width="20px" height="20px" src="https://images.unsplash.com/photo-1572127694721-f3de48657e77?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1789&q=80" alt="picture of the offer">
    <div class="card-name"><%= flat.id %></div>
    <div class="card-address"><%= flat.address %></div>
    <div class="card-description"><%= flat.description %></div>
    <div class="card-price"><%= flat.price_per_night %></div>
    <div class="card-guests"><%= flat.number_of_guests %></div>
  </div>
  <% end %>
</div>
